.logo-img {
    width: 400px;
}

.orginal-product-page-img {
    width: 300px;
}

.orginal-bunbun-product-details-img {
    width : 600px;
}

.orginal-product-gallery-img {
    width : 200px;
}

/* w3schools for refrenece */
.orginal-product-page-img,.orginal-bunbun-product-details-img,.orginal-product-gallery-img{
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  .original-prodcuts-text,.original-cart-text,.original-sentence-right-under-cart-text,.original-shopping-cart-text,.original-under-image-shopping-cart-text,.original-line-break-shopping-cart-text{
    text-align: center;
  }

  .original-index-text,.original-index-price-text{
  text-align: left;
  padding-left: 40%;

  }


.original-prodcuts-details-text{

    text-align: center;
    align-items: center;

}
.original-index-text{
    text-decoration: underline;
}

.original-shopping-cart-text{
line-height: 4.5;
}

.orginal-product-page-img,.orginal-bunbun-product-details-img,.orginal-product-gallery-img {
    border: 3px solid black;
    
}
    
  
